*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('nature.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
header {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    justify-content: space-between;
    z-index: 1;
}
.navigation{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #80A1BA;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
h2{
    position: absolute;
    top: 20px;
    font-size: 2em;
    color: #162938;
    text-align: center;
}
.wrapper.active-popup{
    transform: scale(1);
}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 20px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
}
.remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: 25px 0 15px;
    display: flex;
    justify-content: space-between;
}
.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    margin: 20px 0 20px 0;
}
.login-register p a{
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px ;
    text-decoration: none;
}
.login-register p a:hover{
    text-decoration: underline;
}